[Desktop Entry]
Type=Application
Name=Vega
GenericName=Nostr Client
Comment=Read, write and zap on the Nostr network
Exec=vega
Icon=com.veganostr.Vega
Terminal=false
Categories=Network;Chat;
Keywords=Nostr;Bitcoin;Lightning;Zap;Social;Decentralized;Microblog;Long-form;
StartupWMClass=Vega
StartupNotify=true
